{{- define "main" -}}

{{/* Author profile page. */}}

{{/* If an account has not been created for this user, just display their name as the title. */}}
{{/* {{ if not .File }} */}}
{{/* <div class="universal-wrapper pt-3"> */}}
  {{/* <h1>{{ .Title }}</h1> */}}
{{/* </div> */}}
{{/* {{ end }} */}}

<section id="profile-page" class="pt-5">
  <div class="container">
    {{ if .File }}
      {{ $widget := "blocks/v1/about.html" }}
      {{ $username := (path.Base .File.Dir) }}
      {{ $params := dict "wcPage" $ "wcBlock" . "author" $username }}
      {{ partial $widget $params }}
    {{ end }}

    {{ $query := where .Pages ".IsNode" false }}
    {{ $sortedQuery := sort $query "Params.date" "desc" }}
    {{ $limitedQuery := first 10 $sortedQuery }}
    {{ $totalPublications := len $query }}
    {{ $count := len $limitedQuery }}

    {{ if $count }}
    <div class="article-widget content-widget-hr">
      <h3>{{ if gt $totalPublications (len $limitedQuery) }} Publications <small>(Latest: Check
          <a href="../../publication/">Publications</a> for complete list)</small>{{ else }}Publications{{ end }}</h3>
      <ul>
        {{ range $limitedQuery }}
        <li>
          {{ index .Params.authors 0 }} et. al., {{ .Params.publication | markdownify }}, {{ .Params.date.Format "2006" }}, <a href="{{ .RelPermalink }}">{{ .Params.doi }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</section>

{{- end -}}
