{{ $item := .item }}
{{ $has_attachments := partial "functions/has_attachments" $item }}

{{/* One publication: title, authors (group members emphasised), journal,
     links. The year is the heading above it (layouts/section/publication.html). */}}
<article class="mv-pub">
  <h3 class="mv-pub-title"><a href="{{ $item.RelPermalink }}">{{ $item.Title }}</a></h3>
  <div class="mv-pub-authors">{{ partial "page_metadata_authors" $item }}</div>
  {{ with or $item.Params.publication_short $item.Params.publication }}
  <div class="mv-pub-venue">{{ . | markdownify }}</div>
  {{ end }}
  {{ if $has_attachments }}
  <div class="btn-links">{{ partial "page_links" (dict "page" $item "is_list" 1) }}</div>
  {{ end }}
</article>
