{{- define "main" -}}

{{ partial "page_header.html" . }}

{{/* Theme list, with the items wrapped in `.mv-list--<view>` so card views lay
     out as a grid and compact views as a plain list. */}}
{{ $view := lower ($.Params.view | default "compact") }}

<div class="universal-wrapper">
  {{ with .Content }}
    <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Pages }}
  {{ with $paginator.Pages }}
  <div class="mv-list mv-list--{{ $view }}">
    {{ range $index, $post := . }}
      {{ partial "functions/render_view" (dict "page" $ "item" . "view" $view "index" $index) }}
    {{ end }}
  </div>
  {{ end }}

  {{ partial "pagination" . }}
</div>

{{- end -}}
