// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

h1, h2, h3, h4, body {
  font-family: Roboto;
  font-weight: 300;
}

.carousel-control-prev, .carousel-control-next {
    display: none;
}
