<!-- Load FontAwesome 6.7.2 Free (includes fa-hexagon) -->
{{/* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.2.0/css/all.min.css"> */}}

<!-- Load Feather Icons -->
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<style>
  /* Style Feather icons to match FontAwesome sizing */
  .feather-icon {
    width: 1em;
    height: 1em;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    vertical-align: -0.125em;
  }

  /* Force custom SVG icons to use same sizing */
  .feather-icon svg {
    width: 1em !important;
    height: 1em !important;
    vertical-align: -0.125em !important;
  }

</style>
