{{/* Display author list. Group members (authors with a profile page) are links
     with class `author-member`; everyone else is plain text. Whitespace is
     trimmed throughout so names read "A, B" (it used to render "A , B"). */}}

{{- $taxonomy := "authors" -}}
{{- if .Param $taxonomy -}}
  {{- range $index, $value := (.GetTerms $taxonomy) -}}
    {{- $display_name := $value.LinkTitle -}}
    {{- with .Page.Params.display_name_short }}{{ $display_name = . }}{{ end -}}
    {{- if gt $index 0 }}, {{ end -}}
    {{- if .RelPermalink -}}
      <a class="author-member" href="{{ .RelPermalink }}">{{ $display_name }}</a>
    {{- else -}}
      <span class="author-other">{{ $display_name }}</span>
    {{- end -}}
    {{- if isset $.Params "author_notes" -}}
      {{- with (index $.Params.author_notes $index) -}}
        <i class="author-notes fas fa-info-circle" data-toggle="tooltip" title="{{ . }}"></i>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
